
<div class="row api-calls-container">
  <div class="col-md-12">
      <div style='display:none'>
          {{#each models}}
              {{> model }}
          {{/each}}
      </div>

    {{#each operations}}
    <a class='swagger-anchor' name="{{operationId}}"></a>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default panel-{{method}}">
            <div class="panel-heading" role="tab" id="heading{{operationId}}">
              <h4 class="panel-title">
                <div role="button" class='section-button' data-toggle="collapse" data-parent="#accordion" href="#{{operationId}}" aria-expanded="true" aria-controls="{{operationId}}">
                  <div class="row swagger-row">
                      <div class='method col-xs-2 col-sm-2 col-md-1'>
                          {{method}}
                      </div>
                      <div class='uri col-xs-10 col-sm-10  col-md-11'>
                          {{uri}}  {{#deprecated}}<span class="label label-warning">DEPRECATED</span>{{/deprecated}}
                      </div>
                      <div class='summary col-xs-9 col-sm-9 col-md-offset-1 col-md-8'>
                          {{summary}}
                      </div>

                  </div>

                </div>
              </h4>
            </div>
            <div id="{{operationId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{operationId}}">
          <div class="panel-body">
              <div class="container-fixed container-desc-long">
                <div class="row hidden-xs">
                  <div class="col-md-12">
{{> code_examples}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9 col-md-offset-1 col-desc">
                    {{description}}
                  </div>
                </div>
              </div>
{{> permissions}}
{{> parameters}}
{{> responses}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>

<script>
$(".property").each(function(){
    var key = $(this).data('key');
    $(this).click(function(){
        $("." + key).toggle();

        $(this).find(".expandsubmodel").toggle();
        $(this).find(".hidesubmodel").toggle();
    });
});

$(".submodel").hide();


function showOperationBody(operationid){
    $("#" + operationid + "ShowBody").hide();
    $("#" + operationid + "HideBody").show();
    $("#" + operationid + "Body").show();
}


function hideOperationBody(operationid){
    $("#" + operationid + "ShowBody").show();
    $("#" + operationid + "HideBody").hide();
    $("#" + operationid + "Body").hide();
}


function showOperationResponseBody(operationid){
    $("#" + operationid + "ShowResponseBody").hide();
    $("#" + operationid + "HideResponseBody").show();
    $("#" + operationid + "ResponseBody").show();
}


function hideOperationResponseBody(operationid){
    $("#" + operationid + "ShowResponseBody").show();
    $("#" + operationid + "HideResponseBody").hide();
    $("#" + operationid + "ResponseBody").hide();
}


function showExample(operationid){
    $("#" + operationid + "ShowExample").hide();
    $("#" + operationid + "HideExample").show();
    $("#" + operationid + "Example").show();
}


function hideExample(operationid){
    $("#" + operationid + "ShowExample").show();
    $("#" + operationid + "HideExample").hide();
    $("#" + operationid + "Example").hide();
}



</script>
